{% extends 'base.html' %}

{% block content %}
<h2>Matches</h2>
<table>
    <tr>
        <th>Match ID</th>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Score</th>
        <th>Details</th>
    </tr>
    {% for match in matches %}
    <tr>
        <td>{{ match[0] }}</td>
        <td>{{ match[1] }}</td>
        <td>{{ match[2] }}</td>
        <td>{{ match[3] }} - {{ match[4] }}</td>
        <td><a href="{{ url_for('match_details', match_id=match[0]) }}">View Details</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
